<div class="row">
<div class="col-md-8 col-md-offset-2">
<div id="formario">
<h1>Editar Operador</h1>

<%= render 'form' %>

<%= link_to 'Show', @operator %> |
<%= link_to 'Back', operators_path %>
</div>
</div>
</div>