<!doctype html>
<html>
  <head>
    <meta charset='utf-8' />
    <%= wicked_pdf_stylesheet_link_tag "/css/pdf.css" %>
  </head>
  <body>
    <div class="invoice-box-footer">
      <hr>
      <p>Neptuno 9C, Col. Nueva Industrial Vallejo, Del. Gustavo A. Madero, Cd MX - www.tuttoilmondo.com</p>
    </div>
  </body>
</html>
