<div class="row">
	<div class="col-md-8 col-md-offset-2">
 <div class="panel panel-headline">
 	<div class="panel-heading">
 		<h3>Nuevo Cliente</h3>
 		<hr>
 	</div>
	
	<div class="panel-body"> 
 		<%= render 'form' %>
 	</div>
<br>

 	</div>
 </div>
</div>