<div class="col-md-6">
    <div class="card">
        <div class="card-header">
            <h5>Cotizaciones Mensuales<br><small>últimos doce meses</small></h5>
        </div>
        <div id="call-chart" style="width: 100%; height: 350px"></div>
    </div>
</div>

<div class="col-md-6">
    <div class="card">
        <div class="card-header">
            <h5>Registros</h5>
        </div>
        <div class="card-block">
            <canvas id="chart-line-1" style="width: 100%; height: 300px"></canvas>
        </div>
    </div>
</div>

<div class="col-md-6">
    <div class="card">
        <div class="card-header">
            <h5>Servicios Mensuales<br><small>últimos doce meses</small></h5>
        </div>
        <div id="services-chart" style="width: 100%; height: 350px"></div>
    </div>
</div>

<div class="col-md-6">
    <div class="card">
        <div class="card-header">
            <h5>Gastos</h5>
        </div>
        <div class="card-block">
            <canvas id="chart-line-3" style="width: 100%; height: 300px"></canvas>
        </div>
    </div>
</div>

<div class="col-md-6">
    <div class="card">
        <div class="card-header">
            <h5>Ingresos</h5>
        </div>
        <div class="card-block">
            <canvas id="chart-line-4" style="width: 100%; height: 300px"></canvas>
        </div>
    </div>
</div>

<div class="col-md-6">
    <div class="card">
        <div class="card-header">
            <h5>Utilización de la flota de autobuses, %<br><small>últimos 30 días</small></h5>
        </div>
        <div class="card-block">
            <div id="line-area2" class="lineAreaDashboard" style="height:300px;"></div>
        </div>
    </div>
</div>

<div class="col-xl-4 col-md-12 m-b-30 datta-example">
    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Today</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">This Week</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">All</a>
        </li>
    </ul>
    <div class="tab-content" id="myTabContent" style="padding: 35px 30px;">
        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
            <div class="media friendlist-box align-items-center justify-content-center m-b-20">
                <div class="m-r-10 photo-table">
                    <a href="#!"><img class="rounded-circle" style="width:40px;" src="assets/images/user/avatar-1.jpg" alt="activity-user"></a>
                </div>
                <div class="media-body">
                    <h6 class="m-0 d-inline">Silje Larsen</h6>
                    <span class="float-right d-flex align-items-center"><i class="fas fa-caret-up f-22 m-r-10 text-c-green"></i>3784</span>
                </div>
            </div>
            <div class="media friendlist-box align-items-center justify-content-center m-b-20">
                <div class="m-r-10 photo-table">
                    <a href="#!"><img class="rounded-circle" style="width:40px;" src="assets/images/user/avatar-2.jpg" alt="activity-user"></a>
                </div>
                <div class="media-body">
                    <h6 class="m-0 d-inline">Julie Vad</h6>
                    <span class="float-right d-flex align-items-center"><i class="fas fa-caret-up f-22 m-r-10 text-c-green"></i>3544</span>
                </div>
            </div>
            <div class="media friendlist-box align-items-center justify-content-center m-b-20">
                <div class="m-r-10 photo-table">
                    <a href="#!"><img class="rounded-circle" style="width:40px;" src="assets/images/user/avatar-3.jpg" alt="activity-user"></a>
                </div>
                <div class="media-body">
                    <h6 class="m-0 d-inline">Storm Hanse</h6>
                    <span class="float-right d-flex align-items-center"><i class="fas fa-caret-down f-22 m-r-10 text-c-red"></i>2739</span>
                </div>
            </div>
            <div class="media friendlist-box align-items-center justify-content-center m-b-20">
                <div class="m-r-10 photo-table">
                    <a href="#!"><img class="rounded-circle" style="width:40px;" src="assets/images/user/avatar-1.jpg" alt="activity-user"></a>
                </div>
                <div class="media-body">
                    <h6 class="m-0 d-inline">Frida Thomse</h6>
                    <span class="float-right d-flex align-items-center"><i class="fas fa-caret-down f-22 m-r-10 text-c-red"></i>1032</span>
                </div>
            </div>
            <div class="media friendlist-box align-items-center justify-content-center m-b-20">
                <div class="m-r-10 photo-table">
                    <a href="#!"><img class="rounded-circle" style="width:40px;" src="assets/images/user/avatar-2.jpg" alt="activity-user"></a>
                </div>
                <div class="media-body">
                    <h6 class="m-0 d-inline">Silje Larsen</h6>
                    <span class="float-right d-flex align-items-center"><i class="fas fa-caret-up f-22 m-r-10 text-c-green"></i>8750</span>
                </div>
            </div>
            <div class="media friendlist-box align-items-center justify-content-center">
                <div class="m-r-10 photo-table">
                    <a href="#!"><img class="rounded-circle" style="width:40px;" src="assets/images/user/avatar-3.jpg" alt="activity-user"></a>
                </div>
                <div class="media-body">
                    <h6 class="m-0 d-inline">Storm Hanse</h6>
                    <span class="float-right d-flex align-items-center"><i class="fas fa-caret-down f-22 m-r-10 text-c-red"></i>8750</span>
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
            <div class="media friendlist-box align-items-center justify-content-center m-b-20">
                <div class="m-r-10 photo-table">
                    <a href="#!"><img class="rounded-circle" style="width:40px;" src="assets/images/user/avatar-1.jpg" alt="activity-user"></a>
                </div>
                <div class="media-body">
                    <h6 class="m-0 d-inline">Silje Larsen</h6>
                    <span class="float-right d-flex align-items-center"><i class="fas fa-caret-up f-22 m-r-10 text-c-green"></i>3784</span>
                </div>
            </div>
            <div class="media friendlist-box align-items-center justify-content-center m-b-20">
                <div class="m-r-10 photo-table">
                    <a href="#!"><img class="rounded-circle" style="width:40px;" src="assets/images/user/avatar-2.jpg" alt="activity-user"></a>
                </div>
                <div class="media-body">
                    <h6 class="m-0 d-inline">Julie Vad</h6>
                    <span class="float-right d-flex align-items-center"><i class="fas fa-caret-up f-22 m-r-10 text-c-green"></i>3544</span>
                </div>
            </div>
            <div class="media friendlist-box align-items-center justify-content-center m-b-20">
                <div class="m-r-10 photo-table">
                    <a href="#!"><img class="rounded-circle" style="width:40px;" src="assets/images/user/avatar-3.jpg" alt="activity-user"></a>
                </div>
                <div class="media-body">
                    <h6 class="m-0 d-inline">Storm Hanse</h6>
                    <span class="float-right d-flex align-items-center"><i class="fas fa-caret-down f-22 m-r-10 text-c-red"></i>2739</span>
                </div>
            </div>
            <div class="media friendlist-box align-items-center justify-content-center m-b-20">
                <div class="m-r-10 photo-table">
                    <a href="#!"><img class="rounded-circle" style="width:40px;" src="assets/images/user/avatar-1.jpg" alt="activity-user"></a>
                </div>
                <div class="media-body">
                    <h6 class="m-0 d-inline">Frida Thomse</h6>
                    <span class="float-right d-flex align-items-center"><i class="fas fa-caret-down f-22 m-r-10 text-c-red"></i>1032</span>
                </div>
            </div>
            <div class="media friendlist-box align-items-center justify-content-center m-b-20">
                <div class="m-r-10 photo-table">
                    <a href="#!"><img class="rounded-circle" style="width:40px;" src="assets/images/user/avatar-2.jpg" alt="activity-user"></a>
                </div>
                <div class="media-body">
                    <h6 class="m-0 d-inline">Silje Larsen</h6>
                    <span class="float-right d-flex align-items-center"><i class="fas fa-caret-up f-22 m-r-10 text-c-green"></i>8750</span>
                </div>
            </div>
            <div class="media friendlist-box align-items-center justify-content-center">
                <div class="m-r-10 photo-table">
                    <a href="#!"><img class="rounded-circle" style="width:40px;" src="assets/images/user/avatar-3.jpg" alt="activity-user"></a>
                </div>
                <div class="media-body">
                    <h6 class="m-0 d-inline">Storm Hanse</h6>
                    <span class="float-right d-flex align-items-center"><i class="fas fa-caret-down f-22 m-r-10 text-c-red"></i>8750</span>
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
            <div class="media friendlist-box align-items-center justify-content-center m-b-20">
                <div class="m-r-10 photo-table">
                    <a href="#!"><img class="rounded-circle" style="width:40px;" src="assets/images/user/avatar-1.jpg" alt="activity-user"></a>
                </div>
                <div class="media-body">
                    <h6 class="m-0 d-inline">Silje Larsen</h6>
                    <span class="float-right d-flex align-items-center"><i class="fas fa-caret-up f-22 m-r-10 text-c-green"></i>3784</span>
                </div>
            </div>
            <div class="media friendlist-box align-items-center justify-content-center m-b-20">
                <div class="m-r-10 photo-table">
                    <a href="#!"><img class="rounded-circle" style="width:40px;" src="assets/images/user/avatar-2.jpg" alt="activity-user"></a>
                </div>
                <div class="media-body">
                    <h6 class="m-0 d-inline">Julie Vad</h6>
                    <span class="float-right d-flex align-items-center"><i class="fas fa-caret-up f-22 m-r-10 text-c-green"></i>3544</span>
                </div>
            </div>
            <div class="media friendlist-box align-items-center justify-content-center m-b-20">
                <div class="m-r-10 photo-table">
                    <a href="#!"><img class="rounded-circle" style="width:40px;" src="assets/images/user/avatar-3.jpg" alt="activity-user"></a>
                </div>
                <div class="media-body">
                    <h6 class="m-0 d-inline">Storm Hanse</h6>
                    <span class="float-right d-flex align-items-center"><i class="fas fa-caret-down f-22 m-r-10 text-c-red"></i>2739</span>
                </div>
            </div>
            <div class="media friendlist-box align-items-center justify-content-center m-b-20">
                <div class="m-r-10 photo-table">
                    <a href="#!"><img class="rounded-circle" style="width:40px;" src="assets/images/user/avatar-1.jpg" alt="activity-user"></a>
                </div>
                <div class="media-body">
                    <h6 class="m-0 d-inline">Frida Thomse</h6>
                    <span class="float-right d-flex align-items-center"><i class="fas fa-caret-down f-22 m-r-10 text-c-red"></i>1032</span>
                </div>
            </div>
            <div class="media friendlist-box align-items-center justify-content-center m-b-20">
                <div class="m-r-10 photo-table">
                    <a href="#!"><img class="rounded-circle" style="width:40px;" src="assets/images/user/avatar-2.jpg" alt="activity-user"></a>
                </div>
                <div class="media-body">
                    <h6 class="m-0 d-inline">Silje Larsen</h6>
                    <span class="float-right d-flex align-items-center"><i class="fas fa-caret-up f-22 m-r-10 text-c-green"></i>8750</span>
                </div>
            </div>
            <div class="media friendlist-box align-items-center justify-content-center">
                <div class="m-r-10 photo-table">
                    <a href="#!"><img class="rounded-circle" style="width:40px;" src="assets/images/user/avatar-2.jpg" alt="activity-user"></a>
                </div>
                <div class="media-body">
                    <h6 class="m-0 d-inline">Storm Hanse</h6>
                    <span class="float-right d-flex align-items-center"><i class="fas fa-caret-up f-22 m-r-10 text-c-green"></i>8750</span>
                </div>
            </div>
        </div>
    </div>
</div>



<%= content_tag :div, class: "chart_data", data: {data: @data} do %><% end %>
