<div id="step-1" class="tab-pane step-content" style="display: block;">
    <h5>Busca clientes</h5>
    <hr>
    <%= search_form_for @q do |f| %>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <%= f.label :Cliente %>
                    <%= f.search_field :razon_social_or_rfc_or_alias_cont, placeholder: "Buscar cliente por Razón Social, R.F.C o Alias", class: 'form-control' %>
                </div>
            </div>
            <div class="col-md-12 text">
                <%= f.submit "Buscar", class: "btn btn-primary" %>
                <%#= hidden_field_tag :step, 2 %>
                <%#= f.submit 'Siguiente', class: "btn btn-primary" %>
            </div>
        </div>
	<% end %>
</div>
