<div class="row">
  <div class="col-md-12">
    <div id="formario">
      <h1>Lista Cobranza</h1>
      <%= link_to 'Nuevo Bloqueo', new_record_path, class: "button button_red" %> <br><br>
      <%=  render 'formato' %>
    </div>
  </div>
</div>


<br>