<div class="row">
  <div class="col-md-12">
    <div class="panel panel-headline">
    	<div class="panel-heading">
      <h3>Lista de Bloqueos</h3>
      </div>
      <br>
      <div class="panel-body">
      <%=  render 'formato' %>
      </div>
    </div>
  </div>
</div>


<br>

<div class="row">
<div class="center">
<% unless @records.blank? %>
  <%= will_paginate @records %>
<% end %>
</div>
</div>