<div class="col-md-12">
    <div class="card">
        <div class="card-header">
            <h5>Lista de Bloqueos</h5>
        </div>
        <div class="card-block">
            <%=  render 'formato' %>
        </div>
    </div>
</div>


<div class="row">
<div class="center">
<% unless @records.blank? %>
  <%= will_paginate @records %>
<% end %>
</div>
</div>