<div id="step-3" class="tab-pane step-content" style="display: block;">
    <h5>Reporte</h5>
    <hr class="">

    <div class="row">
        <div class="col">
            <%= link_to 'Ver Reporte', record_path(@record, :format => 'pdf'), class: "btn btn-primary", :target => "_blank" %>
        </div>
    </div>
    <div class="row">
        <div class="col text-right">
                  <%= link_to 'Back', payments_record_path(@record), class: "btn btn-primary" %>
        </div>
    </div>
</div>
