<div class="col-sm-12">
    <div class="card fullcalendar-card">
        <div class="card-header">
            <h5>Pizarron</h5>
        </div>
        <div class="card-block">
            <div class="row">
                <div class="col-md-12">
                    <div id='calendar' class='calendar'></div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
  $(window).on('load', function() {
      $('#calendar').fullCalendar({
          header: {
              left: 'prev,next today',
              center: 'title',
              right: 'month,basicWeek,basicDay'
          },
          defaultDate: new Date,
          defaultView: 'basicDay',
          editable: false,
          droppable: false,
          resources: [
          ],
          events: '/records/pizarron.json',
          drop: function() {
              if ($('#drop-remove').is(':checked')) {
                  $(this).remove();
              }
          }
      });
  });
</script>
