<div class="col-sm-12">
    <div class="card">
        <div class="card-header">
            <h5>Smart Wizard</h5>
        </div>
        <div class="card-block">
            <!-- [ SmartWizard html ] start -->
            <div id="smartwizard">
                <ul>
                    <li><a href="#step-1">
                            <h6>Step 1</h6>
                            <p class="m-0">Nueva Cotización</p>
                        </a></li>
                    <li><a href="#step-2">
                            <h6>Step 2</h6>
                            <p class="m-0">This is step content</p>
                        </a></li>
                    <li><a href="#step-3">
                            <h6>Step 3</h6>
                            <p class="m-0">This is step text</p>
                        </a></li>
                    <li><a href="#step-4">
                            <h6>Step 4</h6>
                            <p class="m-0">This is step content</p>
                        </a></li>
                </ul>
                <div>
                    <div id="step-1">
                        <h5>Nueva Cotización</h5>
                        <hr>
                        <h6>Sub title 1</h6>
                        <p><strong>@Title content 1!.. </strong> Lorem Ipsum is simply dummy text of the printing <strong>@Content content 1 </strong> and typesetting industry. Lorem Ipsum has been the industry's
                            standard dummy text.</p>
                        <h6 class="mt-3">Sub title 2</h6>
                        <p><strong>@Title content 2!.. </strong> Lorem Ipsum is simply dummy text and typesetting industry. Lorem Ipsum has been the industry's standard dummy text.</p>
                    </div>
                    <div id="step-2">
                        <h5>Title Step 2</h5>
                        <hr>
                        <h6>Sub title 1</h6>
                        <p><strong>@Title content 1!.. </strong> Lorem Ipsum is simply dummy text of the printing <strong>@Content content 1 </strong> and typesetting industry. Lorem Ipsum has been the industry's
                            standard dummy text.</p>
                        <h6 class="mt-3">Sub title 2</h6>
                        <p><strong>@Title content 2!.. </strong> Lorem Ipsum is simply dummy text and typesetting industry. Lorem Ipsum has been the industry's standard dummy text.</p>
                    </div>
                    <div id="step-3">
                        <h5>Title Step 3</h5>
                        <hr>
                        <h6>Sub title 1</h6>
                        <p><strong>@Title content 1!.. </strong> Lorem Ipsum is simply dummy text of the printing <strong>@Content content 1 </strong> and typesetting industry. Lorem Ipsum has been the industry's
                            standard dummy text.</p>
                        <h6 class="mt-3">Sub title 2</h6>
                        <p><strong>@Title content 2!.. </strong> Lorem Ipsum is simply dummy text and typesetting industry. Lorem Ipsum has been the industry's standard dummy text.</p>
                    </div>
                    <div id="step-4">
                        <h5>Title Step 4</h5>
                        <hr>
                        <h6>Sub title 1</h6>
                        <p><strong>@Title content 1!.. </strong> Lorem Ipsum is simply dummy text of the printing <strong>@Content content 1 </strong> and typesetting industry. Lorem Ipsum has been the industry's
                            standard dummy text.</p>
                        <h6 class="mt-3">Sub title 2</h6>
                        <p><strong>@Title content 2!.. </strong> Lorem Ipsum is simply dummy text and typesetting industry. Lorem Ipsum has been the industry's standard dummy text.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
