<div id="step-2" class="tab-pane step-content" style="display: block;">
    <h5>Itinerario</h5>
    <hr>
    <%= form_for [@quotation, @place] do |f| %>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <%= f.label :Nuevo_lugar %>
                    <%= f.text_field :address, id: 'searchTextField', class: "form-control" %>
                </div>
            </div>
            <div class="col-md-12 text-left">
                <%= f.submit "Añadir Lugar", class: "btn btn-primary" %>
            </div>
        </div>
    <% end %>
</div>

<!-- Autocomplete -->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCCXph4Sx9MklyoSlZ4JH-FCryYgRRgWi4&callback=initMap&libraries=places"></script>

<script>
  function initialize() {
    var options = {
      types: ['(cities)'],
    };

    var input = document.getElementById('searchTextField');
    var autocomplete = new google.maps.places.Autocomplete(input, options);
  }

  google.maps.event.addDomListener(window, 'load', initialize);
</script>
