  <% @reviews.group_by(&:year).each do |year, reviews| %>
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h5>Nueva Calificación</h5>
            </div>
            <div class="card-block">
              <div class="table-responsive">
                <table class="table">
                  <thead>
                    <tr>
                    <th>#</th>
                    <th>Operador</th>
                    <th>Puntos</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% reviews.group_by(&:operator).sort.each do |operator,review| %>
                      <tr>
                        <td></td>
                        <!-- operador -->
                        <td><%= operator.nombre %></td>

                        <!-- total diesel en pesos -->
                        <td><%=  @qo= (review.map(&:cantidad).sum.to_f / review.map(&:cantidad).size.to_f) %></td>
                      </tr>
                    <% end %>
                  </tbody>
                </table>
              </div>
            </div>
        </div>
    </div>
  <% end %>
