<div class="row">
		<div class="col-md-8 col-md-offset-2">
	<div id="formario">

<h1>Editar Voucher</h1>

<%= render 'form' %>

<%= link_to 'Show', @voucher %> |
<%= link_to 'Back', vouchers_path %>

</div>
</div>
</div>